
          .navbar {
              background-color: rgb(0, 0, 0, 0) !important;
          }
    
          .navbar .container {
              background-color: rgb(0, 0, 0, 0) !important;
          }
    
          .navbar .container .navbar-brand {
              color: rgb(173, 178, 203);
          }
    
          .navbar .container .navbar-nav .nav-link {
              color: rgb(173, 178, 203);
              border-radius: 18px;
              padding: 8px 16px;
          }
    
          .navbar .container .navbar-nav .nav-link.active {
              background-color: rgb(127, 68, 255) !important;
              color: white !important;
          }

          .navbar-brand {
            display: inline-block;
            height: 60px; /* Tùy chỉnh chiều cao của logo */
            width: auto; /* Đảm bảo logo giữ đúng tỷ lệ */
          }
          
          .navbar-brand img {
            height: 100%;
            width: auto;
            object-fit: contain; /* Giữ tỷ lệ mà không bị cắt */
            display: block; /* Loại bỏ khoảng trắng mặc định của hình ảnh */
          }
          
          .navbar-brand:hover img {
            transform: scale(1.1); /* Tăng kích thước khi hover để tạo hiệu ứng */
            transition: transform 0.3s ease; /* Hiệu ứng chuyển động mượt mà */
          }
          
          .navbar-brand svg {
            height: 100%;
            width: auto;
            fill: currentColor; /* Cho phép đổi màu dựa trên text color nếu cần */
          }
          