<app-header></app-header>
<div class="about-us-container">
  <div class="about-us-content">
    <h1>About Us</h1>
    <p>
      Welcome to our team! We are a dedicated team passionate about delivering exceptional products and services to our customers. With years of experience in the industry, we are committed to providing the best quality and customer satisfaction.
    </p>
    <p>
      Our mission is to revolutionize the market by bringing innovative solutions that meet the needs of today’s fast-paced world. Whether you’re a first-time visitor or a loyal customer, we are here to support you every step of the way.
    </p>
    <div class="team">
      <h2>Meet Our Team</h2>
      <ul>
        <li><strong>Dương Ngọc Thành</strong> - 0191267 - CEO & Founder</li>
        <li><strong>Nguyễn Đình Phúc</strong> - 0309867</li>
        <li><strong>Dương Xuân Vinh</strong> - 1500467</li>
        <li><strong>Nguyễn Khánh Hội</strong> - 0035267</li>
      </ul>

      <h2>Thanks For Watching!</h2>
    </div>
  </div>
</div>
<app-footer></app-footer>

