
<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Home</h1>
    <p>Đây là trang home</p>
  </div>
  
  <div class="search-box">
    <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
    <select class="form-control product-category">
      <option selected disabled>Danh mục sản phẩm</option>
      <option value="">Đồ điện tử</option>  
      <option value="">Đồ gia dụng</option>
      <option value="">Bánh kẹo</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://www.google.com/imgres?q=%E1%BA%A3nh%20masy%20anhr&imgurl=https%3A%2F%2Fcdn2.cellphones.com.vn%2Finsecure%2Frs%3Afill%3A0%3A0%2Fq%3A90%2Fplain%2Fhttps%3A%2F%2Fcellphones.com.vn%2Fmedia%2Fwysiwyg%2FMay-anh%2Fmay-anh-1.jpg&imgrefurl=https%3A%2F%2Fcellphones.com.vn%2Fmay-anh.html&docid=TqwXYvEDhG8toM&tbnid=F8fdetgr5Zn2DM&vet=12ahUKEwjxtPHsxt2JAxU8slYBHT3iEWEQM3oECBoQAA..i&w=810&h=456&hcb=2&ved=2ahUKEwjxtPHsxt2JAxU8slYBHT3iEWEQM3oECBoQAA"
        alt="Product Image" 
        class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="producr-description">May anh chup sieu net </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>    

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://www.google.com/imgres?q=%E1%BA%A3nh%20masy%20anhr&imgurl=https%3A%2F%2Fcdn2.cellphones.com.vn%2Finsecure%2Frs%3Afill%3A0%3A0%2Fq%3A90%2Fplain%2Fhttps%3A%2F%2Fcellphones.com.vn%2Fmedia%2Fwysiwyg%2FMay-anh%2Fmay-anh-1.jpg&imgrefurl=https%3A%2F%2Fcellphones.com.vn%2Fmay-anh.html&docid=TqwXYvEDhG8toM&tbnid=F8fdetgr5Zn2DM&vet=12ahUKEwjxtPHsxt2JAxU8slYBHT3iEWEQM3oECBoQAA..i&w=810&h=456&hcb=2&ved=2ahUKEwjxtPHsxt2JAxU8slYBHT3iEWEQM3oECBoQAA"
        alt="Product Image" 
        class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="producr-description">May anh chup sieu net </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>    

        </div>
      </div>
    </div><div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://www.google.com/imgres?q=%E1%BA%A3nh%20masy%20anhr&imgurl=https%3A%2F%2Fcdn2.cellphones.com.vn%2Finsecure%2Frs%3Afill%3A0%3A0%2Fq%3A90%2Fplain%2Fhttps%3A%2F%2Fcellphones.com.vn%2Fmedia%2Fwysiwyg%2FMay-anh%2Fmay-anh-1.jpg&imgrefurl=https%3A%2F%2Fcellphones.com.vn%2Fmay-anh.html&docid=TqwXYvEDhG8toM&tbnid=F8fdetgr5Zn2DM&vet=12ahUKEwjxtPHsxt2JAxU8slYBHT3iEWEQM3oECBoQAA..i&w=810&h=456&hcb=2&ved=2ahUKEwjxtPHsxt2JAxU8slYBHT3iEWEQM3oECBoQAA"
        alt="Product Image" 
        class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="producr-description">May anh chup sieu net </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>    

        </div>
      </div>
    </div><div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://www.google.com/imgres?q=%E1%BA%A3nh%20masy%20anhr&imgurl=https%3A%2F%2Fcdn2.cellphones.com.vn%2Finsecure%2Frs%3Afill%3A0%3A0%2Fq%3A90%2Fplain%2Fhttps%3A%2F%2Fcellphones.com.vn%2Fmedia%2Fwysiwyg%2FMay-anh%2Fmay-anh-1.jpg&imgrefurl=https%3A%2F%2Fcellphones.com.vn%2Fmay-anh.html&docid=TqwXYvEDhG8toM&tbnid=F8fdetgr5Zn2DM&vet=12ahUKEwjxtPHsxt2JAxU8slYBHT3iEWEQM3oECBoQAA..i&w=810&h=456&hcb=2&ved=2ahUKEwjxtPHsxt2JAxU8slYBHT3iEWEQM3oECBoQAA"
        alt="Product Image" 
        class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="producr-description">May anh chup sieu net </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>    

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>