
<app-header></app-header>

<div class="container">
  <div class="intro-section">
    <img src="assets/images/bamboo.png" width="250" height="50">
  </div>

  <div class="row">
    <div class="search-box d-flex">
      <select class="product-category" (change)="onCategoryChange($event)">
        <option selected disabled>Category</option>
        <option *ngFor="let category of categories" [value]="category.id" (click)="searchByCate(category.id)">{{ category.cate_name }}</option>
      </select>
      <input type="text" class="search-input" placeholder="Tìm sản phẩm">
    </div>

  </div>
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let product of products">
      <a [routerLink]="['/product', product.id]" class="text-decoration-none">
      <div class="product-item card shadow-sm mb-4">
        <img
          [ngSrc]="'https://cdn.shopify.com/s/files/1/0559/3713/8775/files/Durable_Chews.jpg?v=1725681866&width=512'"
          alt="Product Image" width="100" height="100"
          class="product-image"
        /> <!--product.featuredImageUrl ||-->
        <div class="card-body">
          <h5 class="product-name card-title text-truncate">{{ product.productName }}</h5>
          <div class="product-price card-text">
            <h4>
            <p *ngIf="product.sale"><span class="text-danger"><b>{{product.salePrice | currency}} </b> </span> <del> {{ product.price | currency }}</del></p>
            <span *ngIf="!product.sale"> {{ product.price | currency }}</span></h4>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="product-rating">
              <i class="fas fa-star" >{{product.rating}}</i>
            </div>
          </div>
          <p class="purchase-count">{{product.purchaseCount}} sold</p>
        </div>
      </div>
      </a>
    </div>
    <div *ngIf="products.length<1">
      <p>No Product Found</p>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
