<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Xác nhận đơn hàng</h1>
        <p>Cảm ơn bạn. Đây là chi tiết về đơn hàng của bạn</p>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://www.pexels.com/vi-vn/tim-kiem/h%C3%ACnh%20n%E1%BB%81n%20full%20hd/" alt="">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000đ</td>
                    <td>200,000đ</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://www.pexels.com/vi-vn/tim-kiem/h%C3%ACnh%20n%E1%BB%81n%20full%20hd/" alt="">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000đ</td>
                    <td>200,000đ</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://www.pexels.com/vi-vn/tim-kiem/h%C3%ACnh%20n%E1%BB%81n%20full%20hd/" alt="">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000đ</td>
                    <td>200,000đ</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://www.pexels.com/vi-vn/tim-kiem/h%C3%ACnh%20n%E1%BB%81n%20full%20hd/" alt="">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000đ</td>
                    <td>200,000đ</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3" >
            <button class="btn btn-gradient" type="button">Tiếp tục mua sắm</button>
        </div>
    </div>
    </div>
</div>

<app-footer></app-footer>